@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

.a{
	position: absolute;
	width: 100%;
	height: 100%;
}

.a .title{
	position:absolute;
	width: 100%;
	height: 10%;
}

.a .title p{
	position: relative;
	display: block;
	float: left;
	width: 10%;
	height: 10%;
	left: 20%;
	font-family: "楷体";
	font-size: 70px;
	text-shadow: 5px 5px 5px green;
}

.a .top{
	position: absolute;
	width: 100%;
	height: 25%;
	top:10%;
	background: #000;
}


