<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>LoginClServlet</servlet-name>
  <servlet-class>com.hsp.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginClServlet</servlet-name>
  <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.shp.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>MainFrame</servlet-name>
  <servlet-class>com.shp.view.MainFrame</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerUsers</servlet-name>
    <servlet-class>com.shp.view.ManagerUsers</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserClServlet</servlet-name>
    <servlet-class>com.hsp.controller.UserClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Ok</servlet-name>
    <servlet-class>com.shp.view.Ok</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Err</servlet-name>
    <servlet-class>com.shp.view.Err</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserView</servlet-name>
    <servlet-class>com.shp.view.UpdateUserView</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserView</servlet-name>
    <servlet-class>com.shp.view.AddUserView</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GotoManage</servlet-name>
    <servlet-class>com.hsp.controller.GotoManage</servlet-class>
  </servlet>







  <servlet-mapping>
  <servlet-name>MainFrame</servlet-name>
  <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerUsers</servlet-name>
    <url-pattern>/ManagerUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserClServlet</servlet-name>
    <url-pattern>/UserClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ok</servlet-name>
    <url-pattern>/Ok</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserView</servlet-name>
    <url-pattern>/UpdateUserView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserView</servlet-name>
    <url-pattern>/AddUserView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GotoManage</servlet-name>
    <url-pattern>/GotoManage</url-pattern>
  </servlet-mapping>
  
</web-app>
