@charset "utf-8";

*{
	margin: 0px;
	padding: 0px;
}
/*
 * 设置顶层容器属性
 */
ul{
	width: 150px;
	border: 2px solid cadetblue;
	border-top: 10px solid red;
	/*可以单独设置每个边框
	border-top: ;
	border-left: ;
	border-right:
	border-botton:
	* */
	
	/*去掉黑点*/
	list-style: none;	
}
/*访问整个列表框*/
ul li{
	width: 100%;
	height: 40px;
}
/*访问每一个JLabel共同属性*/
ul li a{
	/*a标签本身不可以设置属性
	 * 转化为块级元素，就可以了*/
	display: block;    /*转化为块级元素*/
	
	text-decoration: none;/*去掉下划线*/
	
	width: 120px;
	height: 40px;
	margin: 0 auto;
	border-bottom: 2px solid blue;
	
	/*设置字体颜色*/
	color: black;
	/*设置Font*/
	font-family:"楷体";
	/*字号*/
	font-size:15px ;
	/*加粗*/
	font-weight: 900;
	/*字体居中（这里是水平居中）*/
	text-align: center;
	/*行高，垂直居中*/
	line-height: 40px;
}
/*找到最后一个标签*/
ul li:last-child a{
	/*边框隐藏*/
	border: none;
}
